body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* #main{
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
} 
#main-sub1{
  width: 80%;
  height: 80vh;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0);
}
#profile-sub1{
  width: 300px;
  height: 300px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 15%;
}
#profile-sub1-img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
}
#input1{
  width: 30%;
  height: 30%;
  position: absolute;
  top: 15%;
  left: 45%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;

}
#input1-sub1{
  width: 85%;
  height: 40px;
  padding: 20px;
  border-bottom: 1px solid rgb(185, 185, 185);
  overflow-wrap: break-word;
}
#input1-sub2{
  width: 85%;
  height: 40px;
  padding: 20px;
  border-bottom: 1px solid rgb(185, 185, 185);
  overflow-wrap: break-word;
}
#input2{
  width: 75%;
  height: 250px;
  padding: 20px;
  position: absolute;
  top: 55%;
  left: 10%;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid rgb(226, 226, 226);
}
#input2-sub1{
  width: 95%;
  padding: 20px;
  border-bottom: 1px solid rgb(185, 185, 185);
  overflow-wrap: break-word;
} */

#main1{
  padding: 10px;
}
#submain2{
  background-color: rgb(24, 24, 24);
  width: 23%;
  height: 88%;
  position: absolute;
  top: 10%;
  border-radius: 2%;
}
#submain-1{
  border: 1px solid white;
  width: 10%;
  height: 30px;
  position: absolute;
}
